.top {
  margin-top: 36px;
}

.filter {
  background: #fff;
  padding: 20px 30px;
  font-size: 14px;
  justify-content: space-between;
}

.filter__categories {
  text-align: center;
  height: 38px;
  line-height: 38px;
}

.filter__categories ul {

}

li.category {
  display: inline-block;
}

li.category a {
  color: #757575;
  padding: 10px 12px;
  border-radius: 7px;
  line-height: 1;
  transition: all .1s ease-in-out;
}

li.category a:hover {
  background: rgba(58,139,187,0.15);
  color: #3a8bbb;
}

.charity-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.charity-cards > div{
  font-size: 20px;
  color: white;
  background-color: #3a8bbb;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.charity-cards > div > p {
  justify-self: flex-end;
  text-align: center;
} 

.charity-cards > div > div{
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    display: flex;
}

.charity-cards > div > div > img {
  max-width: 200px;
  max-height: 200px;
  justify-self: center;
  border: 10px solid white ;
}
