body {
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 200px);
}

.right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 68px;
}

.logo {
  width: 440px;
  display: block;
  margin: 0 auto;
}

.logo img {
  width: 100%;
}

.slogan {
  color: #2D326C;
  text-align: center;
  font-size: 34px;
  font-weight: 900;
  margin-bottom: 30px;
}

.change_role {
  width: 582px;
  margin: 0 auto;
  text-align: right;
  margin-top: 30px;
  text-decoration: underline;
}

.change_role:hover a {
  color: #2D326C;
}
