body {
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: row;
}

.auth-sidebar header {
  padding: 64px 64px 30px 64px
}

.auth-sidebar header .name {
  color: #966863;
  font-size: 22px;
}

.auth-sidebar .content {
  flex-grow: 1;
  padding-top: 5%;
}

.auth-sidebar .content img {
  width: 100%;
}

.auth-sidebar {
  color: #945A54;
  background-color: #FFEBE9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 514px;
}

.auth-content {
  flex:1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.auth-content h2 {
  text-align: center;
}

#loader {
  text-align: center;
}

.top {
  position: absolute;
  top: 26px;
  right: 30px;
}

.top a {
  text-decoration: underline;
  padding: 8px 20px;
}

.top a:hover {
  background-color: #eee;
}

.video-wrap {
  width: 400px;
  margin: 0 auto;
}

video {
  width: 100%;
}
